{{define "style"}}
<link rel="stylesheet" href="/static/css/add_log.css">
{{end}}

{{define "content"}}
<div id="log-inputs">
    <input id="title" type="text" name="title" placeholder="Title" required><br>
    <input type="file" name="thumbnail" id="thumbnail" required><br>
    <select id="category" name="category">
        <option value="Other">Other</option>
        <option value="Tech">Tech</option>
        <option value="Art">Art</option>
        <option value="Review">Review</option>
    </select><br>
    <textarea id="short_desc" name="short_desc" placeholder="Short Description" required></textarea><br>

    <div id="textareaContainer"></div>
    
    <button type="button" id="addTextareaBtn">Add Item</button>
    <select id="inputType" name="inputType">
        <option value="text">Text</option>
        <option value="image">Image</option>
        <option value="title">Title</option>
        <option value="quote">Quote</option>
    </select>
    <input type="number" name="item-amount" value="0" id="amount" hidden required><br>
    <button id="add-log">Log</button>
</div>
{{end}}

{{define "script"}}
<script>
    function uploadFile(file) {
        var formData = new FormData();
        formData.append('file', file);

        return new Promise((resolve, reject) => {
            $.ajax({
            url: '/api/data/add',
            method: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            
            success: function(data) {
                console.log('Success uploading file:', data);
                resolve(data);
            },
            error: function(error) {
                console.error('Error uploading file:', error);
                reject(error);
            }
            });
        });
    }

    var id = 0;
    document.getElementById('addTextareaBtn').addEventListener('click', function() {
        var newItemDiv = document.createElement('div');
        var contentInp;
        var typeInp;
        if (document.getElementById('inputType').value == 'text') {
            contentInp = document.createElement('textarea');
            typeInp = document.createElement('input');
            typeInp.value = 'Text';
        } else if (document.getElementById('inputType').value == 'image') {
            contentInp = document.createElement('input');
            contentInp.type = 'file';
            typeInp = document.createElement('input');
            typeInp.value = 'Image';
        } else if(document.getElementById('inputType').value == 'title') {
            contentInp = document.createElement('input');
            contentInp.placeholder = 'title';
            typeInp = document.createElement('input');
            typeInp.value = 'Title';
        } else if(document.getElementById('inputType').value == 'quote') {
            contentInp = document.createElement('textarea');
            typeInp = document.createElement('input');
            typeInp.value = 'Quote';
        }
        contentInp.name = 'item' + id;
        typeInp.name = 'type' + id;
        typeInp.type = 'hidden';

        var deleteBtn = document.createElement('button');
        deleteBtn.textContent = 'Delete';
        deleteBtn.type = 'button';
        deleteBtn.addEventListener('click', function() {
            newItemDiv.remove();
        });
        newItemDiv.appendChild(contentInp);
        newItemDiv.appendChild(typeInp);
        newItemDiv.appendChild(document.createElement('br'));
        newItemDiv.appendChild(deleteBtn);
        document.getElementById('textareaContainer').appendChild(newItemDiv);
        
        document.getElementById('amount').value = ++id;
    });

    $('#add-log').on('click', async function(event) {
        event.preventDefault();

        var formData = new FormData();

        var log = {
            title: $('#title').val(),
            category: $('#category').val(),
            short_desc: $('#short_desc').val(),
            items: [],
            thumbnail_id: -1
        };

        var thumbnail = $('#thumbnail').first()[0].files[0];
        if (!thumbnail) {
            alert('Please select a thumbnail');
            return;
        }
        log.thumbnail_id = (await uploadFile(thumbnail)).id;
        
        for (var i = 0; i < id; i++) {
            var typeEl = $('input[name="type' + i + '"]').first();
            var itemEl = $('[name="item' + i + '"]').first();

            if (!typeEl.length || !itemEl.length) continue;

            var item = {
                type: typeEl.val(),
                content: itemEl.val(),
            };

            if (typeEl.val() == "Image") {
                var file = itemEl[0].files[0];
                if (!file) continue;
                item.content = (await uploadFile(file)).id.toString();
            }

            log.items.push(item);
        }

        console.log(log);
        $.ajax({
            url: '/api/logs/add',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(log),
            success: function(data) {
                console.log('Success adding log:', data);
                window.location.href = '/';
            },
            error: function(error) {
                console.error('Error adding log:', error);
            }
        });
    });
</script>
{{end}}