{{define "style"}}
<link rel="stylesheet" href="./static/css/index.css">
{{end}}

{{define "content"}}
<div id="container">
    <section id="log-timeline">
        <ul class="rb" id="timeline-list">
            <!-- Timeline items will be added here -->
        </ul>  
    </section>
    <section id="log-view">
        <!-- Log details will be added here -->
    </section>
</div>
{{end}}

{{define "script"}}
<script>
    const userMap = new Map();

    function getDeleteButton(logDetails) {
        const deleteButton = document.createElement('button');
        deleteButton.className = 'log-view-delete-button';
        deleteButton.innerHTML = 'Delete';
        deleteButton.addEventListener('click', function() {
            fetch(`/api/logs/delete/${logDetails.id}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    alert('Log deleted successfully');
                    // Remove the log item from the timeline
                    document.getElementById(logDetails.id).remove();
                    // Clear the log view
                    logView.innerHTML = '';
                } else {
                    alert('Failed to delete log');
                }
            })
            .catch(error => console.error('Error deleting log:', error));
        });
        return deleteButton
    }

    function makeComment(comment) {
        commentItem = document.createElement('div');
        commentItem.className = 'comment-item';
        commentItem.id = "c"+comment.id;
        commentItem.innerHTML = `
            <p class="comment-text">${comment.content}</p>
            <p class="comment-timestamp">${new Date(comment.date).toLocaleString('en-GB', { dateStyle: 'short', timeStyle: 'short' })}</p>
        `;
        fetch(`/api/users/get/${comment.user_id}`)
        .then(response => response.json())
        .then(user => {
            document.getElementById("c"+comment.id).innerHTML = `<p class="comment-user">${user.username}</p>` + commentItem.innerHTML;
        })
        return commentItem;
    }

    function showLog(logItem, log, logView) {
        logItem.addEventListener('click', function() {
            fetch(`/api/logs/get/${log.id}`)
            .then(response => response.json())
            .then(logDetails => {
                viewItem = document.createElement('div');
                viewItem.className = 'log-view-item';
                viewItem.id = `${logDetails.id}`;
                fetch(`/api/users/isAdmin`)
                .then(response => response.json())
                .then(
                    data => {
                        if(data.isAdmin === true) {
                            const deleteButton = getDeleteButton(logDetails);
                            logView.appendChild(deleteButton);
                        }
                    }
                )
                .catch(error => console.error('Error fetching log items:', error));

                // title
                title = document.createElement('h1');
                title.className = 'log-view-main-title';
                title.innerHTML = logDetails.title;

                // items
                items = logDetails.items.map(item => {
                    if (item.type === 0) {
                        return `<p class="log-view-text">${item.content}</p>`;
                    } else if (item.type === 1) {
                        return `<img class="log-view-image" src="/api/data/get/${item.content}" alt="Image">`;
                    } else if (item.type === 2) {
                        return `<h3 class="log-view-title">${item.content}</h3>`;
                    }
                }).join('');

                // comment section
                commentSection = document.createElement('div');
                commentSection.id = 'comment-section';
                commentSectionForm = document.createElement('div');
                commentSectionForm.id = 'comment-section-form';
                commentSectionList = document.createElement('div');
                commentSectionList.id = 'comment-section-list';
                fetch(`/api/users/isLoggedIn`)
                .then(response => response.json())
                .then(
                    data => {
                        if(data.isLoggedIn === true) {
                            commentInput = document.createElement('textarea');
                            commentInput.type = 'text';
                            commentInput.placeholder = 'Comment';
                            commentSendButton = document.createElement('button');
                            commentSendButton.innerHTML = 'Send';
                            commentSendButton.addEventListener('click', function() {
                                fetch(`/api/comments/add`, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        log_id: logDetails.id,
                                        content: commentInput.value
                                    })
                                })
                                .then(response => {
                                    if (response.ok) {
                                        alert('Comment added successfully');
                                        commentItem = makeComment({content: commentInput.value});
                                        commentInput.value = '';
                                        console.log(commentItem);
                                        commentSectionList.insertBefore(commentItem, commentSectionList.firstChild);
                                    } else {
                                        alert('Failed to add comment');
                                    }
                                })
                                .catch(error => console.error('Error adding comment:', error));
                            });
                            commentSectionForm.appendChild(commentInput);
                            commentSectionForm.appendChild(commentSendButton);
                        }
                    }
                )
                .catch(error => console.error('Error fetching logged in user:', error));

                fetch(`/api/comments/get/${logDetails.id}`)
                .then(response => response.json())
                .then(comments => {
                    console.log(comments);
                    comments.forEach(comment => {
                        commentItem = makeComment(comment);
                        commentSectionList.appendChild(commentItem);
                    });
                })
                .catch(error => console.error('Error fetching comments:', error));
                commentSection.appendChild(commentSectionForm);
                commentSection.appendChild(document.createElement('hr'));
                commentSection.appendChild(commentSectionList);

                viewItem.appendChild(title);
                viewItem.appendChild(document.createElement('hr'));
                viewItem.innerHTML += items;
                logView.innerHTML = '';
                logView.appendChild(viewItem);
                logView.appendChild(commentSection);
            })
            .catch(error => console.error('Error fetching log details:', error));
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        const timelineList = document.getElementById('timeline-list');
        const logView = document.getElementById('log-view');

        // Fetch logs from the API
        fetch('/api/logs/get')
        .then(response => response.json())
        .then(logs => {
            logs.forEach(log => {
                const logItem = document.createElement('li');
                logItem.className = 'rb-item log-timeline-item';
                logItem.id = log.id;
                //logItem.ng-repeat = 'itembx';
                logItem.innerHTML = `
                    <div class="timestamp">${new Date(log.date).toLocaleString('en-GB', { dateStyle: 'short', timeStyle: 'short' })}</div>
                    <div class="item-title">${log.title}</div>
                `;
                timelineList.appendChild(logItem);
                // Add click event listener to fetch and display log details
                showLog(logItem, log, logView);
            });
        })
        .catch(error => console.error('Error fetching logs:', error));
    });
</script>
{{end}}