{{define "style"}}
<link rel="stylesheet" href="/static/css/index.css">
{{end}}

{{define "content"}}
<section class="title-section">
    <h1>Welcome to LogC</h1>
    <p>A blogging website for mostly personal use</p>
</section>

<section class="category-lists">
    <h1>Categories</h1>
    <hr style="width: 97%">
</section>
{{end}}

{{define "script"}}
<script>
$(document).ready(function() {
    catLists = $('.category-lists');

    $.ajax({
        url: '/api/logs/getCategory/6',
        method: 'GET',
        dataType: 'json',
        success: function(resp) {
            console.log(resp);
            console.log(resp.category);
            $.each(resp.category, function(key, value) {
                console.log(key);
                console.log(resp.category[key]);

                catTitle = $('<h2>').text(key);
                catHr = $('<hr>');
                catLogs = $('<div>').addClass('category-logs');
                resp.category[key].forEach(function(log) {
                    logCard = $('<div>').addClass('card').css('background-image', 'url(/api/data/get/' + log.thumbnail_id + ')');
                    logCardContent = $('<div>').addClass('card-content');
                    logDate = $('<p>').text(new Date(log.date).toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short', hour12: false }));
                    logTitle = $('<h1>').text(log.title);

                    logCardContent.append(logDate);
                    logCardContent.append(logTitle);
                    logCard.append(logCardContent);

                    logCard.click(function() {
                        window.location.href = '/view/' + log.id;
                    });

                    catLogs.append(logCard);
                });

                catLists.append(catTitle);
                catLists.append(catHr);
                catLists.append(catLogs);
            });
        },
        error: function() {
            console.error('error fetching logs');
        }
    });
})
</script>
{{end}}