.title-section {
    text-align: center;
    height: 50vh;
    color: var(--on-background);
    padding: 25vh;
}

.title-section h1 {
    font-size: 100px;
}

.title-section p {
    font-size: 30px;
    opacity: 0.5;
    margin: 10vh;
}

/* Category lists */
.category-lists {
    margin: auto;
    width: 100%;
}

.category-lists hr {
    margin: auto;
    width: 95%;
}

.category-lists h1 {
    color: var(--on-background);
    padding: 30px;
    font-size: 50px;
}

.category-lists h2 {
    color: var(--on-background);
    padding: 30px 70px;
    font-size: 35px;
}

.category-logs {
    display: inline;
    width: 92%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    width: 500px;
    height: 350px;
    background-position: center;
    background-size: cover;
    margin: 22px;
    
    display: flex;
    flex-direction: column-reverse;
    transition: transform 0.2s ease-in-out;
    color: var(--on-background);
}

.card:hover {
    transform: scale(1.1);
}

.card-content {
    background-color: var(--surface);
    background-color: rgba(50, 50, 50, 0.8);
    color: var(--on-surface);
    padding: 15px;
}

.card h1 {
    font-size: 30px;
    margin: 0;
}

.card p {
    font-size: 20px;
}