#container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--secondary-color);
}

#log-view {
    z-index: 1;
    margin-left: auto;
    width: 80%;
    height: 100%;
    padding: 10px;
}

.log-view-item {
    padding: 0 50px;
    color: var(--text-color);
}

.log-view-main-title {
    text-align: center;
    font-size: 42px;
    margin: 50px;
}

.log-view-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 30px;
}

.log-view-text {
    background-color: white;
    padding: 10px;
    margin: 20px;
    line-height: 1.6;
    text-indent: 2em;
}

.log-view-image {
    height: 600px;
    display: block;
    margin: 20px auto;
    border: 5px solid var(--text-color);
    border-top: none;
    border-bottom: none;
}

/* --------------------------------- */
/* Timeline */

#log-timeline {
    z-index: 100;
    width: 17%;
    height: 100%;
    background-color: var(--secondary-color);
    padding: 20px;
    position: fixed;
    bottom: 0;
}

#log-timeline ul.rb {
    padding: 10px;
    padding-top: 20px;
    margin-top: 20px;
}
  
#log-timeline ul.rb li {
    list-style: none;
    margin: auto;
    min-height: 50px;
    border-left: 1px dashed var(--accent-color);
    padding: 0 0 20px 30px;
    position: relative;
}
  
#log-timeline ul.rb li:last-child {
    border-left: 0;
}
  
#log-timeline ul.rb li::before {
    position: absolute;
    left: -10.5px;
    content: " ";
    background: white;
    height: 20px;
    width: 20px;
}
  
#log-timeline ul.rb li:hover::before {
    background: var(--accent-color);
}
  
ul.rb li .timestamp {
    position: relative;
    font-size: 12px;
}
  
.item-title {
    font-style: italic;
    font-weight: bold;
    word-wrap: break-word;
}

/* --------------------------------- */
/* Comments */
#comment-section {
    background-color: var(--accent-color);
    padding: 10px;
    width: 90%;
    display: block;
    margin: 10px auto;
}

#comment-section-form {

}

#comment-section-form textarea {
    width: 97%;
    height: 60px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    font-size: 16px;
}

#comment-section-form button {
    margin: 10px auto;
    padding: 10px;
    display: block;
    text-align: center;
    border: none;
    background-color: var(--primary-color);
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}

#comment-section-form button:hover {
    filter: brightness(1.1);
}

#comment-section-list {

}

.comment-item {
    background-color: var(--primary-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: left;
}

.comment-user {
    width: 10%;
}

.comment-text {
    width: 80%;
}

.comment-timestamp {
    font-size: 12px;
}

.log-view-delete-button {
    text-align: center;
    width: 20%;
    margin: auto;
    display: block;
}