:root {
    --primary-color: #ffd6ff;
    --secondary-color: #e7c6ff;
    --accent-color: #c8b6ff;
    --background-color: #b8c0ff;
    --text-color: #7982ff;    
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color)
}

header {
    position: fixed;
    background-color: var(--accent-color);
    width: 75px;
    left: 0;
    height: 100%;
}

header nav a {
    display: block;
    padding: 1em;
    color: var(--text-color);
    text-decoration: none;
}

main {
    margin-left: 75px;
    z-index: 0;
    height: 100vh;
}