  main {
    display: flex;
    justify-content: center;
  }
  
  /* Timeline Container */
  .timeline {
    background: var(--background);
    margin: 0px auto;
    padding: 5px;
    width: 80%;
    height: fit-content;
  }
  
  /* Card container */
  .card {
    position: relative;
    max-width: 80%;
    margin: auto;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--secondary);
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -5px;
    bottom: -5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
  @media only screen and (max-width: 400px) {
    .card:nth-child(odd)::before {
      top: -5px;
      bottom: -5px;
    }
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    background: var(--surface);
    color: var(--on-surface);
    border-radius: 10px;
    padding: 10px;
  }

  /* thumbnail of the card */
  .thumbnail {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
  }

  .thumbnail:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
  }

  /* Information text */
  .info-text {
    padding: 10px;
    width: 100%;
  }

  /* Information text paragraph */
  .info-text p {
    margin: 0;
  }

  /* Information text hr */
  .info-text hr {
    margin: 10px 0;
    border-color: var(--background);
  }

  /* Timeline dot  */
  .info-text::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid var(--secondary);
  }
  
  /* Title of the card */
  .title {
    color: var(--primary);
    position: relative;
  }

  /* Date of the card */
  .date {
    color: var(--on-surface);
  }



  /* text left if the card is odd */
  .card:nth-child(odd) > .info{
    flex-direction: row;
  }

  /* text right if the card is even */
  .card:nth-child(even) > .info{
    flex-direction: row-reverse;
  }
  


  /* text left if the card is odd */
  .card:nth-child(odd) > .info > .info-text {
    margin-left: 10px;
    text-align: left;
  }

  /* text right if the card is even */
  .card:nth-child(even) > .info > .info-text {
    margin-right: 10px;
    text-align: right;
  }



  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .info-text::before {
    left: -5px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .info-text::before {
    right: -5px;
  }
  