table {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}

tr {
    border: 1px solid var(--primary);
    color: var(--on-background);
}

th {
    padding: 10px;
}

td {
    margin: 0px;
    padding: 10px;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: var(--secondary);
    color: var(--on-secondary);
    border: none;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.1);
}